/* You can add global styles to this file, and also import other style files */
body, html {
    width: 100%;
    height: 100%;
    color: #031e23;
    background: gray;
}
ul {
    list-style-type: none; 
    padding: 0;
}
img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
